<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
this is home page for VoteXX, an Extreme Coercion Resistance e-voting system

{% if create_p %}
<a class="button" href="{% url "elections@new" %}">create an election</a>
{% endif %}

</body>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">create election</a>
<h5 class="subheader">Administration</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>none yet</em>
{% endif %}
{#<div class="row right">#}
{#<a class="tiny button" href="{% url "elections@administered" %}">see all</a>#}
{#</div>#}
{#<div class="row"></div>#}
{% endif %}


</html>