<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="BootStrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>

<body>
    <div id="content">
        <div id="navtab"></div>

        <div class="container" style="margin-top: 5rem;">
            <div class="row">
                <div class="col-md-10 col-md-push-1 container-form">
                    <h2 class="mt-4">Profile</h2>

                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="mt-4">Created elections:</h3>
                        </div>
                        <div class="col-md-4">
                            <a href="create_election.html" class="btn btn-primary pull-right btn-3d">Create Election</a>
                        </div>
                    </div>

                    <ul id="Administration">
                        <% elections.forEach(function(election) { %>
                            <li><a href="<%= election.uuid %>" draggable="false"><%= election.title %></a></li>
                        <% }); %>
                    </ul>

                </div>
            </div>
        </div>


    </div>

    <footer id="footer">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-check"></span>
    </footer>

    <script src="js/jquery-3.7.0.js"></script>
    <script src="BootStrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#navtab").load("navbar.html", function () {
                $.get('/checkLoginStatus', function (data) {
                    if (data.loggedIn) {
                        // The user has logged in, adjust the front-end display.
                        document.getElementById("loginButton").style.display = "none";
                        document.getElementById("userDropdown").style.display = "inline";
                        document.getElementById("usernameDisplay").innerText = data.user.username;
                    } else {
                        // The user has not logged in, adjust the front-end display.
                        document.getElementById("loginButton").style.display = "inline";
                        document.getElementById("userDropdown").style.display = "none";
                    }
                });
            });
        });
    </script>
</body>

</html>