.navbar {
  margin-bottom: 0;
  /* border: none; */
  display: flex;
  justify-content: center;
  /* background-color: #3d486f; */
}

.no-margin {
  margin-top: 0;
  /* Remove top margin */
  margin-bottom: 0;
}

.feature-bg {
  color: white;
  /* background-color: #f5f5f5; */
  /* Gray background */
  padding: 20px 0;
  /* Add some padding to the top and bottom */
}

.large-icon {
  font-size: 3em;
  /* Or any other size you may need */
}

.input-spacing {
  margin-bottom: 5px;
  /* Or any other value you may want */
}

label.title {
  color: #3d486f;
  font-size: large;
}

.jumbotron {
  background-color: #3d486f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  background-color: white;
  padding: 5rem 10rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

label.radio-inline,
label.checkbox-inline {
  margin-right: 1rem;
  /* Add right margin to separate radio buttons and checkboxes */
}

#sortable {
  margin-top: 1rem;
}

li.list-group-item {
  cursor: move;
}

footer {
  background-color: #3d486f;
  color: #ffffff; /* Set the text color to white to ensure it is clearly visible on a dark background */
  padding: 20px 0; /* Top and bottom padding of 20 pixels, no padding on the left and right */
  text-align: center; /* Center the text */
}

.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.equal-height > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.vertical-center {
  display: flex;
  align-items: center; /* Used for vertical centering */
  justify-content: center; /* Used for horizontal centering; can be removed if not needed */
  height: 100%; /* Ensure it takes up the full height of the parent element */
}

.btn-larger {
  padding: 10px 20px; /* Adjust the padding to change the size of the button */
  font-size: 25px; /* Adjust the text size */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0; /* This will ensure the footer doesn't shrink */
}

.carousel-inner > .item > img {
  width: 100%;
  height: 100%;
  /* max-height: 500px; */
  object-fit: cover;
}

.btn-3d {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 0px 3px #fff,
    0px 5px 5px 5px rgba(0, 0, 0, 0.5), 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: all 0.1s;
  margin-right: 20px;
}

.btn-3d:active {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 0px 3px #fff,
    0px 2px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

table {
  width: 50%;
  border-collapse: collapse; /* Collapse borders */
  margin: 25px 0; /* Top and bottom margin of 25px, left and right are 0 */
  text-align: left; /* Text aligned to the left */
  font-size: 18px; /* Font size */
}

/* Set styles for table headers (th) and table data (td) */
th, td {
  padding: 12px;
}

/* Set background color for table headers */
th {
  background-color: #f2f2f2;
}

/* Change background color when hovering over a row */
tr:hover {
  background-color: #f5f5f5;
}
