<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">download candidate bios &amp; statements</a>]</p>
{% endif %}


test the view


{#review the <a href="{{vote_url}}">voting booth</a>.#}
<a href="{% url "election@votetest" election.uuid %}">Vote here</a>


<a href="{% url "election@bboard" election.uuid %}">Bulletin Board here</a>




</body>
</html>
