.navbar {
  margin-bottom: 0;
  /* border: none; */
  display: flex;
  justify-content: center;
  /* background-color: #3d486f; */
}

.no-margin {
  margin-top: 0;
  /* 去除上边距 */
  margin-bottom: 0;
}

.feature-bg {
  color: white;
  /* background-color: #f5f5f5; */
  /* 灰色背景 */
  padding: 20px 0;
  /* 上下增加一些内边距 */
}

.large-icon {
  font-size: 3em;
  /* 或其他您需要的大小 */
}

.input-spacing {
  margin-bottom: 5px;
  /* 或者其他你想要的值 */
}

label.title {
  color: #3d486f;
  font-size: large;
}

.jumbotron {
  background-color: #3d486f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  background-color: white;
  padding: 5rem 10rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

label.radio-inline,
label.checkbox-inline {
  margin-right: 1rem;
  /* 添加右边距来分开单选按钮和复选框 */
}

#sortable {
  margin-top: 1rem;
}

li.list-group-item {
  cursor: move;
}

footer {
  background-color: #3d486f;
  color: #ffffff; /* 设置文本颜色为白色，确保在深色背景上可以清晰看到 */
  padding: 20px 0; /* 上下内边距为20像素，左右无内边距 */
  text-align: center; /* 使文本居中显示 */
}

.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.equal-height > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.vertical-center {
  display: flex;
  align-items: center; /* 用于垂直居中 */
  justify-content: center; /* 用于水平居中，可以删除如果不需要 */
  height: 100%; /* 确保占据整个父元素的高度 */
}

.btn-larger {
  padding: 10px 20px; /* 调整内边距来改变按钮的大小 */
  font-size: 25px; /* 调整文字大小 */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0; /* 这将确保footer不会缩小 */
}

.carousel-inner > .item > img {
  width: 100%;
  height: 100%;
  /* max-height: 500px; */
  object-fit: cover;
}

.btn-3d {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5), 0px 0px 0px 3px #fff, 0px 5px 5px 5px rgba(0,0,0,0.5), 0px 10px 10px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    transition: all 0.1s;
    margin-right: 20px;
}

.btn-3d:active {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5), 0px 0px 0px 3px #fff, 0px 2px 2px 2px rgba(0,0,0,0.5), 0px 4px 4px 4px rgba(0,0,0,0.5);
    transform: translateY(4px);
}
